@use '../utils/variables' as *;

:host {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $line-height-base;
  margin-bottom: $spacing-medium;
  font-weight: 600;
}

p {
  margin-bottom: $spacing-medium;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
