@use '../../styles/utils/variables' as *;
@use '../../styles/utils/functions' as *;
@use '../../styles/utils/mixins' as *;

:host {
  all: inherit;
  display: contents;
}

.example {
  padding: spacing(2);
  color: $color-text;
  background-color: $color-background;
  border-radius: $border-radius;
}
